    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>About Us</h2>
            <p>For the love of bangles</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
              <div class="about-img">
                <img src="assets/img/about.jpg" alt="">
                <a href="https://www.youtube.com/watch?v=dUDYGlHYvD8" class="glightbox play-btn"></a>
              </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>‘I have always loved bangles. I can’t remember a time when I didn’t have a bangle on.’</h3>
              <p class="fst-italic">
                Metal bangles, nagina bangles and bracelet bangles are part of traditional Pakistani jewellery. They are usually worn in pairs by women, one or more on each arm. Most Pakistani women prefer wearing either metal or glass bangles or combination of both. Inexpensive bangles made from plastic are slowly replacing those made by glass, but the ones made of glass are still preferred at traditional occasions such as marriages,Karva Chauth, Diwali, Eid days like Eid-ul-Fitr and Eid-ul-Adha.
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Combination of red and white bangles</li>
                <li><i class="bi bi-check-circle"></i> Monotone gold band with grey diamonds</li>
                <li><i class="bi bi-check-circle"></i> Beautiful pink Punjabi bangles</li>
                <li><i class="bi bi-check-circle"></i> Beautiful geometric and floral patterns with white pearls embellished on them</li>
                <li><i class="bi bi-check-circle"></i> Punjabi Chooda or a Kundana Kad</li>
              </ul>

            </div>
          </div>
  
        </div>
    </section><!-- End About Section -->